*~
CMakeFiles
out
log/*
sdl/doc/*
!sdl/doc/Local_Dev_Architecture.png
CMakeCache.txt
*.kdev4
.kdev4/*
*.kdevelop
*.kdevelop.filelist
*.kdevses
*.plist/
CTestTestfile.cmake
cmake_install.cmake
Testing
Testing/*
shareDocker*/
sdl/Makefile
*pb-c.*
_CPack_Packages
*.tar.gz
CPack*
install_manifest.txt
DartConfiguration.tcl
